name: Build & Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Build
        run: dotnet publish VirtualBridge.Console -r win-x64 --configuration Release --no-self-contained /p:PublishSingleFile=true -o publish

      - name: Build Package
        run: dotnet pack VirtualBridge.PluginApi --configuration Release --output publish

      - name: Push Packages to NuGet
        run: dotnet nuget push .\publish\*.nupkg -k $env:NUGET_API_KEY -s https://api.nuget.org/v3/index.json --skip-duplicate
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: VirtualBridge
          path: publish

      - name: Zip Release
        uses: TheDoctor0/zip-release@a24011d8d445e4da5935a7e73c1f98e22a439464
        with:
          filename: virtual-bridge-dev-${{ github.run_number }}-win-x64.zip
          path: publish
          type: zip

      - name: Github Release
        uses: softprops/action-gh-release@v1
        with:
          files: virtual-bridge-dev-${{ github.run_number }}-win-x64.zip
          prerelease: true
          tag_name: dev-build-${{ github.run_number }}
          generate_release_notes: true
